@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}


*, *::before, *::after {
  box-sizing: border-box;
}

/* Custom scrollbar styles */
body::-webkit-scrollbar {
  width: 2px;
}
body::-webkit-scrollbar-thumb {
  background: #F5CB5C;
  border-radius: 1px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: #F5CB5C transparent;
}