@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}


*, *::before, *::after {
  box-sizing: border-box;
}

/* Custom scrollbar styles */
/* Scrollbar styling */
::-webkit-scrollbar {
  width: 4px;             /* scrollbar thickness */
  height: 2px;            /* horizontal scrollbar thickness */
}

::-webkit-scrollbar-thumb {
  background-color: #F5CB5C;  /* scrollbar color */
  border-radius: 10px;        /* smooth edges */
}

::-webkit-scrollbar-track {
  background: transparent;    /* or #111111 to match bg */
}
